<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vk Spy - Stop tracking</title>
</head>
<body>
    {% if user %}
        <h3>If you really want to stop tracking {{ user.first_name }} {{ user.last_name }}, enter your secret in the form below</h3>

        <form method="post" action={% url "user_stop_tracking" user.uid%}>
        {% csrf_token %}
            <input name="secret" type="text">
            <input type="submit" value="Stop tracking">
        </form>

    {% else %}
        <h3>You can't stop tracking without specifying the id.</h3>
    {% endif %}
</body>
</html>